/* bleh */


@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
:root {--font-brand: Comfortaa, var(--font)}

.hi.kate:not(h2 i) {
    font-family: var(--font-brand);
}
.hi.kate sup {
    font-family: var(--font);
}


html {
    scroll-behavior: smooth;
}




/* home gallery */
.gallery figure {
    /*display: none;*/
    position: absolute;
    width: 600px;
    transition-property: left, opacity;
    transition-duration: 1.2s, 0.6s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

    img {
        box-shadow: var(--menu-shadow);
    }
}
figure {
    text-align: center;
}
figcaption {
    margin-top: 10px;
    color: hsl(var(--c2));
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    text-transform: uppercase;
    letter-spacing: 0.4px;

    .w-16 {
        --w: 14px;
    }
}

.gallery {
    display: flex;
    position: relative;
    width: 600px;
    aspect-ratio: 375 / 225;
}
.has-gallery .icon-btn {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    box-shadow: var(--menu-shadow);
}
.has-gallery .arrow-l {
    left: -20px;
}
.has-gallery .arrow-r {
    right: -20px;
}

.has-gallery {
    position: relative;
}




/* home */
.header-wrap {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 20px;

    h1 {
        font-size: 96px;
        line-height: 96px;
    }

    &.small .avatar {
        --size: 32px;
    }

    & > div {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
}

.logo:not(header .logo) {
    font-size: 96px;
    line-height: 96px;
    position: relative;
    left: -8px;
}

.brand-btns {
    padding-top: 20px;
    border-top: 1px solid hsl(var(--b4));
}




.btns.separator {
    margin-top: var(--card-gap);
    padding-top: var(--card-gap);
    border-top: 1px solid hsl(var(--b4));
}
.btns .btn {
    --shadow: none;
    --shadow-hov: none;
    width: 100%;
    justify-content: unset;
    position: relative;

    &:not(.active) {
        --bg: transparent;
        --bg-hov: hsla(var(--b4), 20%);
        --bg-atv: hsla(var(--b4), 40%);
    }

    &.active {
        &:before {
            content: '';
            position: absolute;
            width: 3px;
            height: 14px;
            border-radius: 50px;
            background-color: hsl(var(--l3-c));
            left: 0;
            top: 50%;
            margin-top: -7px;
        }
    }
}




.screen-row {
    margin: 10px 0;
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid hsl(var(--b4));

    .screen-wrap {
        display: flex;
        align-items: center;
        gap: 12px;
        flex: 1;

        .screen {
            width: 120px;
            aspect-ratio: 15 / 9;
            border: 3px solid hsl(var(--b4));
            border-radius: var(--item-med-radius);
        }

        .text {
            display: flex;
            flex-direction: column;
            gap: 4px;
        }
    }

    .actions {
        display: flex;
        align-items: center;
        gap: 6px;

        .action {
            --bg: hsla(var(--b4), 20%);
            --bg-hov: hsla(var(--b4), 60%);
            --bg-atv: hsla(var(--b4), 80%);
            --shadow: none;
            --shadow-hov: var(--shadow);
            --padding: 7px 16px;
            gap: 12px;
            text-decoration: none;

            .icon {
                padding: 6px;
                background-color: hsl(var(--h3));
                color: hsl(var(--b7));
                border-radius: 50%;
            }

            &.update {
                --bg: hsla(var(--h4), 10%);
                --bg-hov: hsla(var(--h4), 20%);
                --bg-atv: hsla(var(--h4), 40%);
                --shadow: 0 0 30px 15px hsla(var(--h4), 8%);
                --hue: 160;
                --sat: 1;
                --lit: 1;
            }
            &.downgrade {
                --bg: hsla(var(--h4), 10%);
                --bg-hov: hsla(var(--h4), 20%);
                --bg-atv: hsla(var(--h4), 40%);
                --hue: -2;
                --sat: 1;
                --lit: 1;
            }

            .text {
                display: flex;
                flex-direction: column;
                gap: 4px;
            }
        }
    }
}

#window_create_colour {
    max-width: 800px;
}


.inner-preview {
    border: 1px solid hsl(var(--b4));
    background-color: hsl(var(--b6));
    padding: var(--card-gap);
    border-radius: var(--item-med-radius);

    &.gap-top {
        margin-top: var(--card-gap);
    }

    pointer-events: none;
    user-select: none;

    /* instant colour change */
    button, .chartlist-bar .text {
        transition: none !important;
    }

    &.pad {
        padding: calc(var(--card-gap) * 2) calc(var(--card-gap) * 6);
    }
    &.flex {
        display: flex;
        justify-content: center;
        align-items: center;

        > * {
            flex: 1;
        }
    }
}

.preview-img {
    width: 100%;
    border-radius: var(--item-med-radius);
    box-shadow: var(--menu-shadow);
    max-height: 120px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
    }
}