:root {
    --accent: #6699CC;
    --text-on-accent: #fff;

    --body: #fff;
    --text: #000;
    --font: Verdana, sans-serif;
}


body {
    background-color: var(--bg);
    color: var(--text);
    font-family: var(--font);
    width: 1280px;
}


header {
    display: flex;
    flex-direction: column;
    gap: 1px;

    .logo {
        display: flex;
        justify-content: space-between;
        height: 60px;

        .logo-kate {
            background-color: var(--accent);
            background-image: url(/img/brand.png);
            width: 138px;
            display: flex;
            height: 60px;
        }

        .nav-side {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 550px;

            nav {
                justify-content: end;
                background-color: var(--text);
                background-image: url(/img/nav.png);
                background-repeat: no-repeat;
            }
        }
    }

    nav {
        display: flex;
        align-items: center;
        padding: 0 12px;
        gap: 12px;
        height: 20px;
        background-color: var(--accent);
        color: var(--text-on-accent);
        font-size: 10px;
        font-weight: bold;

        a {
            position: relative;
            color: inherit;
            display: flex;
            text-decoration: none;
        }

        .badges {
            flex: 1;
            display: flex;
            justify-content: end;
            align-items: center;
        }
    }
}


main {
    display: flex;
    gap: 12px;

    .nav-side {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 12px;
        border-right: 1px solid red;
    }

    .content-side {
        display: flex;
        flex-direction: column;
        gap: 12px;
        flex: 1;
        padding-right: 12px;
        padding-top: 12px;

        font-size: 12px;

        h1 {
            color: #FFA500;
            font-weight: bold;
            font-size: 56px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        h2 {
            color: #000080;
            font-size: 20px;
            font-style: normal;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        .top-win {
            padding-left: 151px;
            background-image: url(/img/win.png);
            background-repeat: no-repeat;
            min-height: 118px;
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

        .meee {
            display: flex;
            gap: 6px;
            padding: 6px;
            margin: -6px;
            text-decoration: none;
            width: fit-content;
            color: var(--text);

            &:hover {
                border: 2px solid var(--accent);
                margin: -8px;
                border-radius: 10px;
                cursor: pointer;
            }

            & > img {
                width: 60px;
                border-radius: 3px;
            }

            .text {
                display: flex;
                flex-direction: column;
                gap: 6px;

                h3 {
                    color: var(--accent);
                    font-size: 20px;
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                }

                p {
                    display: flex;
                    gap: 6px;
                }
            }
        }
    }
}


strong {
    font-weight: bold;
}


footer {
    border-top: 1px solid var(--accent);
    margin-top: 24px;
    padding-top: 12px;
    margin-left: calc(113px + 12px);
    font-size: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}


.quick-actions {
    display: flex;
    flex-direction: column;
    gap: 12px;

    a {
        display: flex;
        align-items: center;
        font-size: 18px;
        text-decoration: none;
        color: var(--text);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding-left: 26px;
        height: 20px;
        background-image: url(/img/Bitmap230.png);
        background-repeat: no-repeat;
        width: fit-content;

        &:hover {
            background-image: url(/img/Bitmap231.png);
        }
    }
}