@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --font: Ubuntu Sans, Spline Sans, Inter, Roboto, Noto Sans, Noto Sans JP, Noto Color Emoji, -apple-system, BlinkMacSystemFont, sans-serif;
    --font-weight: 480;
    --font-weight-medium: 600;
    --font-weight-bold: 700;
}



.installed-only, .btn.installed-only,
.installed2-only, .btn.installed2-only
{
    display: none;
}

#install_theme {
    min-height: initial;
}
#install_theme .small-head {
    display: none;
}
#install_theme .info {
    padding-top: 30px;
}

[id*="theme_installed_newer"] {
    --base-hue: var(--orange);
}
[id*="theme_uninstalled"], [id*="theme_updates_available"] {
    --base-hue: var(--green);
}


.small-head svg {
    color: inherit;
}


.install-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 25px 10px;
    margin-top: 16px;
    width: 100%;
}
.install2:is([data-kate-status="-1"], [data-kate-status="0"]) {
    border-color: hsla(var(--base-hue), calc(var(--saturation)*52%), calc(var(--lightness)*70%), 20%);
}
.install2[data-kate-status="1"] {
    --base-hue: 160;
    border-color: hsla(160, calc(var(--saturation)*52%), calc(var(--lightness)*70%), 80%);
}

.install2:is([data-kate-status="-1"], [data-kate-status="0"]):before,
.install2[data-kate-status="1"]:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.install2:is([data-kate-status="-1"], [data-kate-status="0"]):before {
    background: linear-gradient(180deg, hsla(var(--base-hue), calc(var(--saturation)*52%), calc(var(--lightness)*70%), 5%) 0%, transparent 100%);
}
.install2[data-kate-status="1"]:before {
    background: linear-gradient(180deg, hsla(160, calc(var(--saturation)*52%), calc(var(--lightness)*70%), 10%) 0%, transparent 100%);
}

.install2, .install2.unavailable {
    pointer-events: none;
    opacity: 0.3;
    border-style: dashed;
}

.install2 {
    --bg: hsl(var(--b5));
    --bg-hov: hsla(var(--b5), 80%);
    --bg-atv: hsla(var(--b5), 60%);
    --col: hsl(var(--c2));
    --indent: 0.985;
    background-color: var(--bg);
    color: var(--col);
    transition-property: background-color, transform !important;
    transition-duration: var(--trans) !important;
    transition-timing-function: var(--trans-function) !important;
    cursor: pointer;
}
.install2:hover {
    transition: none !important;
    background-color: var(--bg-hov);
}
.install2:active {
    background-color: var(--bg-atv);
}

.install2.primary {
    --bg: hsla(var(--h3), 10%);
    --bg-hov: hsla(var(--h3), 15%);
    --bg-atv: hsla(var(--h3), 20%);
    --col: hsl(var(--c2));
    border-color: hsl(var(--l3-c)) !important;
}

.install2 p {
    font-size: var(--font-size);
}
.install2 h5 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.install2:after {
    content: '';
    padding: 5px 12px;
    background-color: hsl(var(--l3));
    color: hsl(var(--b6));
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 10px;
    opacity: 0;
    box-shadow: var(--raise-1);
    transform: translateX(6px) translateY(-6px);
    transition: opacity 0.25s, transform 0.25s;
}
.install2:is([data-kate-status="-1"], [data-kate-status="0"]):after,
.install2[data-kate-status="1"]:after
{
    transform: translateX(0) translateY(0);
    opacity: 1;
}

.install2:is([data-kate-status="-1"], [data-kate-status="0"]):after,
.install2[data-kate-status="1"]:after
{
    content: 'Installed';
}
.install2[data-kate-status="1"]:after {
    content: 'Update available';
    background-color: hsl(160, calc(var(--saturation)*52%), calc(var(--lightness)*70%));
}

.install .kate-icon {
    margin-top: -40px;
}

.hi {
    color: hsl(var(--l3-c));
}
header .logo a:not(.btn),
h1.hi.kate {
    color: hsl(var(--l3-c));
    width: fit-content;
}

i.hi.kate {
    font-weight: var(--font-weight-medium);
}

.medium {
    font-size: 38px !important;
    line-height: 40px !important;
    left: unset !important;
    margin-bottom: 20px;

    &.logo {
        margin-top: -8px;
        font-family: var(--font-brand);
        color: hsl(var(--l3-c));
    }
}
.big {
    &.bleh {
        font-size: 52px;
        margin-top: -8px;
        font-family: var(--font-brand);
    }
}


h1, h2, h3 {
    padding: 0;
}
.windows h2 {
    padding: 10px 0;
}
.windows h3 {
    padding: 8px 0;
}

.flex-down {
    display: flex !important;
    flex-direction: column;
    gap: 10px;
}
.flex-down.center {
    align-items: center;
}
.flex-down .pfp {
    margin-bottom: 14px;
}
.main h2 {
    margin-bottom: 14px;
}

.main p {
    padding-bottom: 0;
}
.main .button {
    margin-bottom: 16px;
}

.main .hi.kate {
    position: relative;
}
.main .hi.kate:after {
    content: 'OPEN BETA';
    position: absolute;
    top: -8px;
    left: 65%;
    right: 0;
    bottom: 0;
    font-size: 16px;
    background-color: hsl(var(--l2));
    padding: 4px 10px;
    color: hsl(var(--b6));
    line-height: 20px;
    width: max-content;
    height: fit-content;
    border-radius: 10px;
    border: 2px solid hsl(var(--b6));
    box-shadow: var(--raise-1);
    transform: rotateZ(7deg);
    -webkit-text-fill-color: initial;
}

.button.shine {
    border-bottom: none;
}

.main-image {
    width: 100%;
    max-width: 700px;
}
.main-image img {
    width: 100%;
    border-radius: 20px;
    box-shadow: var(--menu-shadow);
}


.button.ultra-shine {
    box-shadow: 0px 0px 72px 10px hsl(var(--l4)) !important;
    z-index: 200;
}


.window > .small-head, .chip .small-head {
    background-color: hsl(160,calc(var(--saturation)*20%),15%);
    color: hsl(160,calc(var(--saturation)*65%),80%);
    margin-top: 14px;
    width: 100%;
}
.window .small-head[data-kate-type="error"] {
    width: 100%;
}
.window > .small-head {
    margin-bottom: 12px !important;
}
.chip .small-head {
    background-color: hsla(160,calc(var(--saturation)*20%),15%,75%);
    margin-top: initial;
}

@media (max-width: 1000px) {
    section.side-by-side {
        flex-direction: column;
    }
}


.window > .info {
    padding-bottom: 12px;
}

.window .header h4, .install h4 {
    display: flex;
    align-items: center;
    gap: 10px;
}
.window .header .small-head, .install h4 .small-head {
    margin: 0 !important;
    padding: 0 9px !important;
    font-size: 14px !important;
}

.small-head[data-kate-type="alpha"] {
    background-color: hsl(25,calc(var(--saturation)*20%),15%);
    color: hsl(25,calc(var(--saturation)*65%),80%);
}
.small-head[data-kate-type="wip"] {
    background-color: hsl(255,calc(var(--saturation)*20%),15%);
    color: hsl(255,calc(var(--saturation)*65%),80%);
}
.small-head[data-kate-type="error"] {
    background-color: hsl(-2,calc(var(--saturation)*20%),15%);
    color: hsl(-2,calc(var(--saturation)*65%),80%);
}

.small-head.warn {
    background-color: hsl(-2,calc(var(--saturation)*20%),15%);
    color: hsl(-2,calc(var(--saturation)*65%),80%);
    margin-top: 14px;
    width: 100%;
}
.small-head[data-kate-status="0"] {
    background-color: hsla(var(--base-hue), calc(var(--saturation)*6%), 16%, 40%);
    color: var(--c2);
}

:is([data-kate-status="-1"], [data-kate-status="0"]) .button[onclick*="install_addon"] {
    opacity: 0.3 !important;
}


.kate-icon {
    background-color: hsla(var(--h4), 25%);
    border-radius: var(--item-med-radius);
    color: hsl(var(--l2));
    height: 40px;
    aspect-ratio: 1 / 1;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 60px hsla(var(--h4), 50%);
}
.icon {
    top: 0 !important;
}


sup {
    font-size: 30%;
    vertical-align: text-top;
    font-weight: 700;
}