.list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-top: 10px;

    &.orient-h {
        margin: unset;
        flex-direction: row;

        .card {
            width: 50%;
            justify-content: center;
        }
    }
}

.card {
    background-color: oklch(var(--b5));
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 10px 20px oklch(var(--b7));
    width: 400px;
}
