.clicky {
    appearance: none;
    padding: 3px 6px;
    background: var(--bg);
    border: 1px solid var(--dash);
    border-radius: 6px;

    display: flex;
    align-items: center;
    gap: 6px;

    &:hover {
        background: var(--quote);
    }

    &:active {
        background: var(--glow);
    }

    color: var(--col) !important;
    font: inherit;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;

    cursor: pointer;
    user-select: none;

    width: max-content;

    &.icon {
        padding: 8px;
    }

    :global(table) & {
        margin-top: 8px;
    }

    :global(.info) {
        display: flex;
        flex-direction: column;

        margin: 0 6px;

        color: inherit;
        font-size: 10px;

        strong {
            font-size: 12px;
            color: inherit;
            font-weight: bold;
        }
    }
}

.tab {
    background: transparent !important;
    border: unset !important;
    box-shadow: unset !important;
    border-radius: unset;
    z-index: 100;

    padding: 0;
    font-size: inherit;
    display: list-item;
    list-style: url(/dot.png);

    margin-left: 20px;
    font-weight: 400;
    text-decoration: underline !important;

    &.primary {
        text-shadow: -1px -1px 0 var(--glow), 1px -1px 0 var(--glow), -1px 1px 0 var(--glow), 1px 1px 0 var(--glow);
    }

    & > i {
        font-style: normal;
        opacity: 0.7;
    }
}

.big {
    padding: 6px 10px;
    font-size: 14px;
}

.lastdotfm {
    --hue: 360;
    --sat: 1.5;
}
.discogs {
    --hue: 30;
}
.rym {
    --hue: 210;
    --sat: 1.5;
    --lit: 0.9;
}
.github {
    --hue: 255;
    --sat: 1.1;
}
.osu {
    --sat: 1.2;
}
.roblox {
    --sat: 0;
    --lit: 1.2;
}
.modrinth {
    --hue: 125;
}
.steam {
    --hue: 220;
    --sat: 1.2;
    --lit: 0.8;
}

.sponsor {
    --hue: 333;
}

.list {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    width: 100%;

    .clicky {
        width: 100%;

        :global(.info) {
            flex: 1;
        }
    }
}
