.clicky {
    appearance: none;
    border: none;
    padding: 6px 8px;
    background: oklch(var(--h3)) !important;
    font-weight: var(--font-weight-md) !important;
    border-radius: 6px !important;

    display: flex;
    align-items: center;
    gap: 6px;

    &:hover {
        background: oklch(var(--h3) / 80%) !important;
    }

    &:active {
        background: oklch(var(--h3) / 60%) !important;
    }

    color: var(--col) !important;
    font: inherit;
    text-decoration: none !important;

    user-select: none;

    width: max-content;

    &.icon {
        padding: 8px;
    }

    :global(table) & {
        margin-top: 8px;
        font-size: 13px;
    }

    :global(.info) {
        display: flex;
        flex-direction: column;

        margin: 0 6px;

        color: inherit;
        font-size: 10px;

        strong {
            font-size: 12px;
            color: inherit;
            font-weight: bold;
        }
    }
}

.tab {
    --rgb: 255, 255, 255;
    --op: 0.2;

    background: rgb(var(--rgb), var(--op)) !important;
    border: unset !important;
    box-shadow: unset !important;
    filter: none !important;
    border-radius: 5px;
    z-index: 100;

    padding: 7px 14px;
    font-size: inherit;
    display: flex;

    margin-left: unset;
    font-weight: 400 !important;
    text-decoration: none !important;
    text-shadow: none !important;

    &:hover, &:active {
        background: rgb(var(--rgb), var(--op)) !important;
    }

    & > i {
        font-size: 14px;
        display: block;
        text-align: right;
        font-style: normal;
        opacity: 0.7;
    }

    transition-property: background, font-weight;
    transition-duration: 0.4s;
    transition-timing-function: var(--trans-function);

    &:hover {
        --op: 0.5;
        transition: none;
    }

    &:active {
        --op: 0.8;
    }

    &.primary {
        --op: 0.8 !important;
        font-weight: 500 !important;
    }

    width: 210px;
}

.lastdotfm {
    --hue: 360;
    --sat: 1.5;
}
.discogs {
    --hue: 30;
}
.rym {
    --hue: 210;
    --sat: 1.5;
    --lit: 0.9;
}
.github {
    --hue: 255;
    --sat: 1.1;
}
.osu {
    --sat: 1.2;
}
.roblox {
    --sat: 0;
    --lit: 1.2;
}
.modrinth {
    --hue: 125;
}
.steam {
    --hue: 220;
    --sat: 1.2;
    --lit: 0.8;
}

.sponsor {
    --hue: 333;
}

.list {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    width: 100%;

    .clicky {
        width: 100%;

        :global(.info) {
            flex: 1;
        }
    }
}
