.clicky {
    appearance: none;
    border: none;
    padding: 2px 6px;
    background: var(--hi2) !important;

    display: flex;
    align-items: center;
    gap: 6px;

    &:hover {
        filter: brightness(110%);
    }

    &:active {
        filter: brightness(120%);
    }

    &:not(.tab) {
        background: var(--hi) !important;
        --col: var(--bg) !important;
        text-shadow: none !important;
        font-weight: 500 !important;
        font-size: 12px;
    }

    color: var(--col) !important;
    font: inherit;
    text-decoration: none !important;

    user-select: none;

    width: max-content;

    &.icon {
        padding: 8px;
    }

    :global(table) & {
        margin-top: 8px;
        font-size: 13px;
    }

    :global(.info) {
        display: flex;
        flex-direction: column;

        margin: 0 6px;

        color: inherit;
        font-size: 10px;

        strong {
            font-size: 12px;
            color: inherit;
            font-weight: bold;
        }
    }
}

.tab {
  --rgb: 255, 255, 255;
  --op: 0.3;

  background: rgb(var(--rgb), var(--op)) !important;
  border: unset !important;
  box-shadow: unset !important;
  filter: none !important;
  border-radius: unset;
  z-index: 100;

  padding: 5px 14px;
  font-size: inherit;
  display: flex;

  margin-left: unset;
  font-weight: 400 !important;
  text-decoration: none !important;
  text-shadow: none !important;

  & > i {
    font-size: 14px;
    display: block;
    text-align: right;
    font-style: normal;
    opacity: 0.7;
  }

  &:hover {
    --op: 0.6;
  }

  &.primary {
    --op: 1 !important;
    font-weight: 500 !important;
  }

  width: 150px;
}

.big {
  padding: 4px 6px;
  font-size: 13px !important;
}

.lastdotfm {
    --hue: 360;
    --sat: 1.5;
}
.discogs {
    --hue: 30;
}
.rym {
    --hue: 210;
    --sat: 1.5;
    --lit: 0.9;
}
.github {
    --hue: 255;
    --sat: 1.1;
}
.osu {
    --sat: 1.2;
}
.roblox {
    --sat: 0;
    --lit: 1.2;
}
.modrinth {
    --hue: 125;
}
.steam {
    --hue: 220;
    --sat: 1.2;
    --lit: 0.8;
}

.sponsor {
    --hue: 333;
}

.list {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    width: 100%;

    .clicky {
        width: 100%;

        :global(.info) {
            flex: 1;
        }
    }
}
