.status {
    display: flex;
    align-items: center;
    gap: 6px;

    .emoji {
        font-size: 11px;
    }

    .content {
        flex: 1;
    }

    .time {
        opacity: 0.6;
        font-size: 13px;
    }
}
