.status {
    display: flex;
    flex-direction: column;

    background: linear-gradient(180deg, transparent, oklch(var(--h4) / 20%));
    padding: 10px;
    border-radius: inherit;

    .emoji {
        font-size: 13px;
    }

    .content {
        flex: 1;
    }

    .time {
        color: oklch(var(--c3));
        font-size: 13px;
    }
}

.bottom {
    display: flex;
    gap: 4px;
}
