/*.lfm-preview {
    background-color: hsl(var(--b6));
    padding: 73px 60px 0 60px;
    border: 2px solid hsla(var(--b3), 25%);
    border-radius: 10px;
    aspect-ratio: 375 / 225;
    width: 800px;
}

.lfm-preview .container {
    background-color: hsla(var(--ba5));
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    width: 100%;
    height: 100%;
    font-size: 10px;
    line-height: 6px;
}

.lfm-preview .tracklist {
    display: flex;
    flex-direction: column;
    width: 400px;
}
.lfm-preview .track:not(.avatar) {
    width: 400px;
    height: 26px;
    display: flex;
    align-items: center;
    padding: 3px 14px;
}
.lfm-preview .track:nth-child(odd) {
    background-color: hsla(var(--b4), 25%);
}
.lfm-preview .track.realtime {
    background-color: hsl(var(--base-hue), calc(var(--saturation)*45%), calc(var(--lightness)*40%)) !important;
    box-shadow: 0px 0 100px 50px hsla(var(--l4), 45%);
}

.lfm-preview .track .cover {
    display: flex;
    align-items: center;
}

.lfm-preview .track .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    flex: 1;
}
.lfm-preview .track .title {
    color: hsl(var(--c2));
    width: fit-content;
}
.lfm-preview .track .artist {
    color: hsl(var(--c3));
    width: fit-content;
}

.lfm-preview .track :is(.title, .artist) {
    text-decoration: none;
}

.lfm-preview .track .date {
    display: flex;
    align-items: center;
    color: hsl(var(--c3));
    font-size: 10px;
}

.lfm-preview .avatar.track {
    --size: 20px;
}*/

.lfm-preview {
    display: flex;
    flex-direction: column;
}

.lfm-preview .rows {
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.lfm-preview .row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 30px;
}

.lfm-preview .row > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.lfm-preview .separator {
    padding-bottom: 50px;
    border-bottom: 1px solid hsl(var(--b3));
}


input[type="range"] {
    width: 500px;
    outline: none;
    appearance: none;
    background: none;
    cursor: pointer;
    border: none;
    height: 20px;
    border-radius: var(--item-small-radius);
    overflow: hidden;
}

input[type="range"]::-webkit-slider-runnable-track  {
    height: 20px;
    background: linear-gradient(90deg, hsla(var(--c2), 25%) 7%, hsl(var(--b4)) 35%);
	box-shadow: var(--interact-shadow);
    border-radius: var(--item-small-radius);
}
input[type="range"]::-moz-range-track  {
    height: 20px;
    background: linear-gradient(90deg, hsla(var(--c2), 25%) 7%, hsl(var(--b4)) 35%);
	box-shadow: var(--interact-shadow);
    border-radius: var(--item-small-radius);
}


input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    /**/
    width: 8px;
    height: 20px;
    background-color: hsl(var(--b4));
    border-radius: var(--item-small-radius);
    border: 2px solid hsl(var(--b5));
}
input[type="range"]::-moz-range-thumb {
    width: 8px;
    height: 20px;
    background-color: hsl(var(--b4));
    border-radius: var(--item-small-radius);
    border: 2px solid hsl(var(--b5));
}

input[type="range"]::-webkit-slider-thumb {
    box-shadow: -407px 0 0 400px hsl(var(--l3));
}
input[type="range"]::-moz-range-thumb {
    box-shadow: -407px 0 0 400px hsl(var(--l3));
}







.slider-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.slider-container .slider {
    display: flex;
    align-items: center;
    gap: var(--card-gap);
    overflow: hidden;
    height: 22px;
    border-radius: var(--item-med-radius);

    input {
        padding: unset;
    }
}
.slider-container .hint {
    color: hsl(var(--c3));
    font-size: 12px;
    position: relative;
    width: 468px;
    height: 18px;

    p {
        position: absolute;
    }
}

.slider-container .slider p {
    font-size: 14px;
    color: hsl(var(--c3));
    font-weight: 500;
}

.toggle-container .heading,
.slider-container .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    p {
        font-size: 12px;
        color: hsl(var(--c3));
    }
}
.toggle-container .heading .btn,
.slider-container .heading .btn {
    --padding: 3px 7px;
}


/* make space for reset button */
.slider-container, .toggle-container {
    h5 {
        transition-property: padding-left;
        transition-duration: var(--trans);
        transition-timing-function: var(--trans-function);
    }
    &.modified h5 {
        padding-left: 16px;
    }
    position: relative;
}

.btn.reset {
    width: 10px;
    height: 10px;
    --bg: hsla(var(--h3), 100%);
    --bg-hov: hsla(var(--h3), 80%);
    --bg-atv: hsla(var(--h3), 60%);
    --shadow: 0 0 10px hsl(var(--h4));
    --shadow-hov: var(--shadow);
    --hue: 160;
    --sat: 1;
    --lit: 1;
    --font-size: 0;
    --padding: 0;
    --radius: 50%;
    border: 2px solid hsl(var(--b5));

    position: absolute;
    top: 4px;
    left: -16px;
    opacity: 0;
    transition-property: opacity, left;
    transition-duration: var(--trans);
    transition-timing-function: var(--trans-function);

    .modified & {
        left: 0;
        opacity: 1;
    }
}



.toggle-container {
    display: flex;
}


.toggle {
    display: flex;
    width: 56px !important;
    height: 32px;
    position: relative;
}
.toggle .dot {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 7px;
    border-radius: var(--item-med-radius);
    background: var(--col);
}

.toggle[aria-checked="true"] .dot {
    left: unset;
    right: 7px;
}






.lfm-preview pre {
    font-family: 'JetBrains Mono', monospace;
    padding: 14px;
    border-radius: var(--item-med-radius);
    background-color: hsla(var(--b6), 60%);
    color: hsl(var(--c3));
    font-size: 12px;
    line-height: 20px;
    overflow: hidden;
}
.lfm-preview .copy-code {
    position: relative;
    flex: 1;
}
.lfm-preview .copy-code .btn {
    position: absolute;
    top: var(--card-padding);
    right: var(--card-padding);
    height: 40px;
}


.using-hue-gradient-item:not(.using-hue-gradient .using-hue-gradient-item) {
    display: none;
}
.using-hue-gradient .dim-using-hue-gradient {
    display: none;
}


.pallete {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 4px;
    height: 50px;
}

.pallete.options {
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    height: fit-content;
}
.pallete.options > button {
    aspect-ratio: 1 / 1;
    --bg: hsl(var(--l3));
    --bg-hov: hsla(var(--l3), 80%);
    --bg-atv: hsla(var(--l3), 60%);
    --shadow: var(--card-shadow);
    --shadow-hov: var(--shadow);
    --sat: 1;
    --lit: 1;
    width: unset;
    height: unset;
}

.pallete + .pallete {
    margin-top: 6px;
}
.pallete > div {
    background-color: var(--col, hsl(var(--b6)));
    border-radius: var(--item-med-radius);
}


code {
    padding: 0 6px;
    margin: 0 3px;
    border-radius: var(--item-med-radius);
    background-color: hsla(var(--b3), 60%);
}

ol {
    display: flex;
    flex-direction: column;
    gap: 12px;
    counter-reset: list;
}
ol li:before {
    counter-increment: list;
    content: counter(list);
    aspect-ratio: 1 / 1;
    width: 30px;
    border-radius: 6px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(var(--l3), 25%);
    font-size: 14px;
    font-weight: 500;
    margin-right: 12px;
}

strong {
    color: hsl(var(--c1));
}
strong.margin {
    margin: 0 3px;
}



.chartlist-bar {
    width: 255px;
    line-height: 22px;
    background: linear-gradient(90deg, hsla(var(--c2), 25%) 7%, hsl(var(--b4)) 35%);
	box-shadow: var(--interact-shadow);
    border-radius: var(--item-small-radius);
    position: relative;
}
.chartlist-bar .fill {
    width: 76%;
    background: var(--chartlist-fill);
	box-shadow: 0px 0px 16px hsla(var(--l3), 50%);
    border-radius: var(--item-small-radius);
    position: absolute;
    height: 100%;
    left: 0;
    min-width: 1px;
    top: 0;
    z-index: 0;
}
.chartlist-bar .text {
    color: hsl(var(--ovr, var(--b7)));
	font-weight: 600;
    padding: 0 10px;
    position: relative;
    z-index: 3;
    transition-property: color;
    transition-duration: var(--trans);
    transition-timing-function: var(--trans-function);
}




.caption {
    margin-top: var(--card-gap);
    color: hsl(var(--c3));
}

.pallete.albums {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}

.album-cover {
    aspect-ratio: 1 / 1;
    position: relative;
    overflow: hidden;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
}
.album-cover:after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url(/img/gloss.svg) !important;
    background-size: 100% !important;
    opacity: var(--gloss, 0);
    pointer-events: none;
    padding: unset !important;
    box-shadow: unset !important;
}