.badge {
    transition-property: opacity, scale;
    transition-duration: var(--trans);
    transition-timing-function: var(--trans-function);
    image-rendering: auto;

    padding: 5px;
    margin: -5px;

    scale: 1;

    &:hover {
        scale: 1.05;
    }

    iframe {
        pointer-events: none;
    }

    &:before {
        display: none;
    }
}

.inner {
    width: 88px;
    height: 31px;
    border-radius: 4px;
    overflow: hidden;
}
