.track {
    --bg: transparent;
    --bg-hov: hsl(var(--b5), 40%);
    --col: hsl(var(--c2));

    display: flex;
    align-items: center;
    gap: 14px;

    padding: 12px 14px;
    background: var(--bg);
    border-radius: var(--round);
    box-shadow: var(--shadow);
    color: var(--col);
    font: inherit;

    position: relative;

    cursor: pointer;
    user-select: none;

    &:hover, &:focus-within {
        background: var(--bg-hov);
        transition: none;
    }

    transition: background 0.1s;

    &.active {
        --bg: hsl(var(--l4), 25%);
        --bg-hov: hsl(var(--l4), 35%);
        --shadow: 0 2px 20px 1px hsl(var(--l4), 20%);

        z-index: 3;
    }

    .info {
        z-index: 1;
        pointer-events: none;
        flex: 1;

        .name {
            font-weight: var(--font-weight-md);
        }

        .artist {
            display: flex;
            opacity: 0.7;

            font-size: 14px;

            a {
                color: inherit;
                text-decoration: none;
                pointer-events: auto;
            }
        }

        .album {
            display: flex;
            opacity: 0.5;

            font-size: 12px;

            a {
                color: inherit;
                text-decoration: none;
                pointer-events: auto;
            }
        }
    }

    .time {
        color: hsl(var(--c3));
        font-size: 13px;
    }
    .active_time {
        color: hsl(var(--l2));
        font-size: 13px;
    }

    button {
        z-index: 1;
    }
}

.list {
    display: flex;
    flex-direction: column;
    gap: 6px;
}