.track {
    display: flex;
    align-items: center;
    gap: 14px;

    padding: 8px 6px;
    border-bottom: 1px solid #ccc;
    color: inherit;
    font: inherit;
    text-align: left;

    position: relative;

    cursor: pointer;
    user-select: none;

    &:hover, &:focus-within {
        background: rgba(0, 0, 0, 0.03);
    }

    &.active {
        background: #feffd6;

        z-index: 3;
    }

    .info {
        z-index: 1;
        pointer-events: none;
        flex: 1;

        .title {
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 400px;
        }

        .artist {
            display: flex;
            margin-top: 2px;
            font-size: 11px;
            color: #666;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 400px;

            a {
                color: inherit;
                text-decoration: none;
                pointer-events: auto;
            }
        }

        .album {
            display: flex;
            font-size: 10px;
            color: #888;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 400px;

            a {
                color: inherit;
                text-decoration: none;
                pointer-events: auto;
            }
        }
    }

    .active_time,
    .time {
        color: #888;
        font-size: 10px;
    }

    .time, .active_time {
        width: 120px;
        text-align: right;
    }

    button {
        z-index: 1;
    }
}

.list {
    display: flex;
    flex-direction: column;
    width: 100%;
}
