.track {
    display: flex;
    align-items: center;
    gap: 14px;

    color: inherit;
    font: inherit;
    text-align: left;

    position: relative;

    cursor: pointer;
    user-select: none;

    &:not(.active) {
        opacity: 0.8;
    }

    .info {
        z-index: 1;
        pointer-events: none;
        flex: 1;

        .title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 400px;
            font-size: 15px;
            color: var(--hi);
            font-weight: 600;
        }

        .artist {
            display: flex;
            margin-top: 2px;
            font-size: 14px;
            color: var(--txt);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 400px;

            a {
                color: inherit;
                text-decoration: none;
                pointer-events: auto;
            }
        }

        .album {
            display: flex;
            font-size: 14px;
            color: var(--txt);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 400px;

            a {
                color: inherit;
                text-decoration: none;
                pointer-events: auto;
            }
        }
    }

    button {
        z-index: 1;
    }

    &:hover {
        text-shadow: -1px -1px 0 var(--glow), 1px -1px 0 var(--glow), -1px 1px 0 var(--glow), 1px 1px 0 var(--glow);
    }
}

.mini {
    .time, .active_time {
        display: none;
    }

    .title, .artist, .album {
        max-width: 250px;
    }
}

.list {
    display: flex;
    flex-direction: column;
    width: 100%;
}
