.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

.cosplay {
    display: flex;
    flex-direction: column;
    gap: 6px;

    text-align: center;

    transition: font-weight 0.2s;

    &:hover {
        text-shadow: -1px -1px 0 var(--glow), 1px -1px 0 var(--glow), -1px 1px 0 var(--glow), 1px 1px 0 var(--glow);
        font-weight: 500;
    }

    position: relative;
}

.cover {
    display: flex;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    image-rendering: auto;

    & > img {
        width: 100%;
    }
}

.progress {
    background: var(--b4);
    height: 4px;
    border-radius: 4px;

    & > .fill {
        height: 4px;
        background: var(--hi);
        border-radius: 4px;
    }
}

.title {
    color: var(--hi);
}

.status {
    font-size: 14px;
    font-weight: 500;
    opacity: 0.8;
}

.time {
    font-size: 13px;
    font-weight: 500;
    opacity: 0.6;
    margin-top: -6px;
}
