/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}







:root {
  --font: Segoe UI, Tahoma, Inter, Roboto, sans-serif;
  --font-size: 15px;
  --line-height: 20px;
  --font-weight: 400;
  --font-weight-md: 500;
  --font-weight-nm: 600;
  --font-weight-lg: 700;

  --font-size-sm: 12px;

  --round: 12px;

  --page: 666px;
}

body {
  --hue: 333;
  --sat: 1;
  --lit: 1;
}
.colourful,
body, main {
  --c1: var(--hue), calc(var(--sat) * 40%), 100%;
  --c2: var(--hue), 0%, 56%;
  --c3: var(--hue), 0%, 30%;

  --l2: var(--hue), calc(var(--sat) * 40%), calc(clamp(min(0.5), var(--lit), max(1.5)) * 83%);
  --l3: var(--hue), calc(var(--sat) * 50%), calc(clamp(min(0.5), var(--lit), max(1.5)) * 70%);
  --l4: var(--hue), calc(var(--sat) * 60%), calc(clamp(min(0.5), var(--lit), max(1.5)) * 50%);
}
body, main {
  --b4: var(--hue), calc(var(--sat) * 12% * var(--sat-bg, 1)), 16%;
  --b5: var(--hue), calc(var(--sat) * 12% * var(--sat-bg, 1)), 12%;
  --b6: var(--hue), calc(var(--sat) * 14% * var(--sat-bg, 1)), 6%;
  --b7: #000;
}

body {
  background: var(--b7);
  color: hsl(var(--c2));
  font-family: var(--font);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);

  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  padding-top: 30px;
  width: var(--page);

  &.wider {
    padding-top: unset;
    --page: 1200px;
  }
}


h1, h2, h3, h4, h5 {
  color: hsl(var(--c1));
  font-weight: var(--font-weight-lg);
}

h1 {
  font-size: 72px;
  line-height: 90px;
  font-weight: 500;
  margin-bottom: 30px;
}
h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
}
h3 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
}
h4 {
  font-size: 20px;
  line-height: 24px;
}
h5 {
  font-size: 18px;
  line-height: 22px;
}


.kyuu {
  color: hsl(var(--l2));
}


i {
  font-style: italic;
}


a {
  color: hsl(var(--l3));
  text-underline-offset: 4px;

  &:hover {
      color: hsl(var(--l2));
      transition: none;
  }

  transition: color 0.1s;
}


::selection {
  background: hsl(var(--l4), 10%);
  color: hsl(var(--l3));
}
::-moz-selection {
  background: hsl(var(--l4), 10%);
  color: hsl(var(--l3));
}


.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
  gap: 20px;

  background: radial-gradient(at center, hsl(var(--l4), 20%), transparent 73%);

  & + .sub {
    margin-top: -90px;
  }
}
.hero-left {
  display: flex;
  align-items: center;
  padding: 30px calc((100vw - var(--page)) / 2) 60px;
  gap: 50px;

  background: linear-gradient(0deg, hsl(var(--l4), 20%), transparent 73%);

  margin: 0 calc(-1 * ((100vw - var(--page)) / 2));

  .info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;

    strong,
    p {
      max-width: 380px;
    }
  }

  .image {
    flex-shrink: 0;
  }
}

.sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  gap: 20px;
}

p.big {
  font-size: 18px;
  line-height: 22px;

  margin-top: -10px;
}


#nprogress {
  .bar {
    background: hsl(var(--l3)) !important;

    .peg {
      box-shadow: 0 4px 10px hsl(var(--l4)) !important;
    }
  }

  .spinner {
    display: none !important;
  }
}


.subtle {
  color: hsl(var(--c3)) !important;
}
.subtler {
  color: hsl(var(--c3), 40%) !important;
}
.accent {
  color: hsl(var(--l3)) !important;
}

.green {
  --hue: 120;
}
.red {
  --hue: 360;
  --sat: 1.2;
}



table {
  text-align: left;

  table,
  thead, tbody {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  thead {
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid hsl(var(--b5));

    tr {
      th {
        color: hsl(var(--c3));
        padding-bottom: 4px;
      }
    }
  }

  tr {
    display: flex;

    th:first-child {
      flex: 1;
    }

    th:not(:first-child), td {
      flex-shrink: 0;
      width: 120px;

      display: flex;
      align-items: center;
    }
  }

  th:not(:first-child),
  td {
    justify-content: center;
    text-align: center;
  }
}

.explain,
.context {
  font-size: 14px;
  color: hsl(var(--c3));
}

.explain {
  max-width: 440px;
}

em {
  font-style: italic;
}
sub {
  font-size: 80%;
  color: hsl(var(--c3));
}

.raise {
  font-size: 18px;
  line-height: 22px;
}


.full-split {
  display: flex;
  gap: 50px;

  margin: 10px 20px;

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    flex: 1;

    .perk-icon {
      margin-bottom: 12px;
    }

    p {
      max-width: 500px;
    }
  }

  .image {
    display: flex;
    align-items: center;

    &.solo {
      img {
        width: 100%;
        border-radius: var(--round);
      }
    }
  }
}