/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Zpix';
    src: url('/zpix.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}







:root {
  --font: Hanken Grotesk, Karla, Lucida Grande, Geneva, Arial, Verdana, sans-serif;
  --font-size: 16px;
  --line-height: auto;
  --font-weight: 400;
  --font-weight-md: 500;
  --font-weight-nm: 600;
  --font-weight-lg: 700;

  --font-size-sm: 14px;

  --round: 12px;

  --radius-1: polygon(
        0px calc(100% - 2px),
        2px calc(100% - 2px),
        2px 100%,
        calc(100% - 2px) 100%,
        calc(100% - 2px) calc(100% - 2px),
        100% calc(100% - 2px),
        100% 2px,
        calc(100% - 2px) 2px,
        calc(100% - 2px) 0px,
        2px 0px,
        2px 2px,
        0px 2px
    );
    --radius-2: polygon(
        0px calc(100% - 4px),
        2px calc(100% - 4px),
        2px calc(100% - 2px),
        4px calc(100% - 2px),
        4px 100%,
        calc(100% - 4px) 100%,
        calc(100% - 4px) calc(100% - 2px),
        calc(100% - 2px) calc(100% - 2px),
        calc(100% - 2px) calc(100% - 4px),
        100% calc(100% - 4px),
        100% 4px,
        calc(100% - 2px) 4px,
        calc(100% - 2px) 2px,
        calc(100% - 4px) 2px,
        calc(100% - 4px) 0px,
        4px 0px,
        4px 2px,
        2px 2px,
        2px 4px,
        0px 4px
    );
}

body {
  --bg: #fff;
  --txt: #561A53;
  --hi: #D56AA2;
  --txt-i: #fff;
  --dash: #DD9FD9;
  --back: #e8e5ff;
  --glow: #f1d3ef;
  --quote: #f8e8f7;
  --w: url(/w.png);
  --h2: url(/pink053.gif);

  --gap: 10px;

  --trans: 0.3s;
  --trans-function: cubic-bezier(0.095, 0.410, 0.055, 0.960);

  background: url(/purpl166.gif), var(--b6);
  color: var(--txt);
  font-family: var(--font);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);

  text-shadow: -1px -1px 0 var(--txt-i), 1px -1px 0 var(--txt-i), -1px 1px 0 var(--txt-i), 1px 1px 0 var(--txt-i);

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  &.dark {
    --head: #DCDCF7;
    --bg: #221F23;
    --txt: #C5C7DB;
    --hi: #FF608D;
    --hi3: #FFC1D4;
    --hi2: #525677;
    --txt-i: #382228;
    --dash: transparent;
    --glow: #5B1227;
    --bg-glow: #151738;
    --quote: #C0466822;
    --w: #272628;
    --h2: url(/purpl157.jpg);

    --b6: #261119;
    --b5: #331A23;
    --b4: #51323E;
    --b3: #7A465C;

    background: var(--b6);
  }
}

main {
  display: flex;
  gap: var(--gap);
  height: 750px;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--gap);

  max-height: 750px;
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 8px;

  &:hover {
    overflow-y: auto;
  }
}

@media (max-width: 840px) {
  body {
    width: unset;
    min-height: 100vh;
    height: unset;
    padding: 60px 0;
  }

  .content {
    max-height: unset;
  }

  main {
    flex-direction: column;
    height: unset;
  }
}

strong {
  font-weight: 600;
}

.kyuu {
  color: var(--hi);

  &.can-hover {
      background: linear-gradient(270deg, var(--hi), var(--hi3), var(--hi), var(--hi3), var(--hi));
      background-size: 400% 100%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: gradient 12s linear infinite;
      text-shadow: none;
  }
}

@keyframes gradient {
    from {
        background-position: 0% 0%;
    }
    to {
        background-position: 400% 0;
    }
}

p {
  margin-top: 10px;

  &:first-child {
    margin-top: 0;
  }
}

*:not(.cropper-move) {
  cursor: default !important;
}


h1, h2, h3, h4, h5 {
  font-weight: 600;
}

h1 {
  color: var(--head);
  font-size: 17px;
  margin-top: 10px;
  margin-bottom: 15px;

  &:first-child {
    margin-top: unset;
  }
}
h2 {
  color: var(--head);
  font-size: 15px;
}
h3 {
  color: var(--hi);
  font-size: 15px;
  margin-bottom: 5px;
}
h4 {
  font-size: 20px;
  line-height: 24px;
}

* {
  cursor: default;
  user-select: none;
}

a, button {
  cursor: pointer;
}


.sep {
  display: block;
  width: 100%;
  margin: 6px 0;
}


i {
  font-style: italic;
}


a {
  color: var(--hi);
  text-decoration: none;

  transition: font-weight 0.2s;

  &:hover {
      text-shadow: -1px -1px 0 var(--glow), 1px -1px 0 var(--glow), -1px 1px 0 var(--glow), 1px 1px 0 var(--glow);
      font-weight: 500;
  }
}

.sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  gap: 20px;
}

p.big {
  font-size: 18px;
  line-height: 22px;

  margin-top: -10px;
}


#nprogress {
  position: fixed;

  .bar {
    background: var(--dash) !important;
    height: 4px !important;

    & > * {
      display: none !important;
    }
  }

  .spinner {
    display: none !important;
  }
}


table {
  text-align: left;
  margin-top: 10px;

  table,
  thead, tbody {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  thead {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 14px;

    tr {
      th {
        color: hsl(var(--c3));
      }
    }
  }

  tr {
    display: flex;

    th:first-child {
      flex: 1;
    }

    th:not(:first-child), td {
      flex-shrink: 0;
      width: 60px;

      display: flex;
      align-items: center;
    }
  }

  strong {
    font-size: 14px;
    font-weight: inherit;
  }

  th:not(:first-child),
  td {
    justify-content: center;
    text-align: center;
  }
}

.explain,
.context {
  font-size: 14px;
  opacity: 0.7;
  margin: 0;
}

.green {
  color: #3AA400 !important;
}
.subtler {
  color: #888;
}

.explain {
  max-width: 440px;
}

em {
  font-style: italic;
}
sub {
  font-size: 80%;
}

.raise {
  font-size: 18px;
  line-height: 22px;
}


.full-split {
  display: flex;
  gap: 50px;

  margin: 10px 20px;

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    flex: 1;

    .perk-icon {
      margin-bottom: 12px;
    }

    p {
      max-width: 500px;
    }
  }

  .image {
    display: flex;
    align-items: center;

    &.solo {
      img {
        width: 100%;
        border-radius: var(--round);
      }
    }
  }
}

.alert {
  position: relative;
  padding: 8px 10px;
  margin: 10px 0;
  background: var(--quote);
  border-radius: 8px;
  font-size: 14px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 30px;
  font-weight: 600;
  font-style: italic;
}

.top404 {
  width: 137px;
  margin: 1em 0;
}

.picture-frame {
  display: inline-block;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  width: 100%;
  border-radius: 8px;
  image-rendering: auto;
}

.card {
  background: var(--b5);
  padding: 10px;
  width: 660px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;

  &.side {
    width: 200px;
    background: transparent;
    box-shadow: inset 0 0 0 1px var(--b5);
  }
}

@media (max-width: 840px) {
  .card {
    width: 90vw !important;
  }
}

.time {
  color: var(--hi);
  font-size: 30px;
  font-weight: 600;
}

.badges {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(88px, 1fr));
  gap: 2px;

  & > img {
    width: 88px;
    height: 31px;
  }
}

.tippy-box {
  background: linear-gradient(transparent, var(--glow) 20%, var(--glow) 80%, transparent) !important;
  border-radius: unset !important;
  color: var(--txt) !important;
  font-size: 14px;
  border-radius: 8px;

  .tippy-content {
    padding: 8px 6px !important;
  }

  .tippy-arrow {
    display: none !important;
  }
}


.status {
    display: flex;
    align-items: center;
    gap: 5px;

    &.online {
        color: #E5FBC2;
        animation: online 1.5s infinite;
    }

    & > img {
        position: relative;
        top: 1px;
    }
}

@keyframes online {
    from, to {
        opacity: 1;
    }
    50% {
        opacity: 0.6;
    }
}


.top-right {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
}


.see-more {
    display: flex;
    justify-content: end;
    align-items: end;
    margin-top: 12px;

    & > a {
        font-size: 13px;
        font-weight: bold;

        & > img {
            position: relative;
            top: 1px;
        }
    }

    width: 100%;
}
