.quote {
    background: var(--quote);
    padding: 10px;

    .identity {
        color: var(--hi);
        width: 100%;
        display: block;
        font-size: 14px;
        margin-top: 6px;
    }

    margin-top: 10px;
}
