.quote {
    background: var(--quote);
    padding: 10px;
    border-radius: 8px;

    .identity {
        color: var(--hi);
        width: 100%;
        display: block;
        font-size: 12px;
    }
}
