.quote {
    background: linear-gradient(180deg, transparent, oklch(var(--h4) / 20%));
    padding: 10px;
    border-radius: inherit;

    .identity {
        color: oklch(var(--l3-c));
        width: 100%;
        display: block;
        font-size: 13px;
        margin-top: 6px;
    }

    margin-top: 10px;
}
