:root {
    --bg: #180052;
    --ac: #4617B4;
}

body {
    background: #000;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: 400;
    user-select: none;
}

.metro {
    background: var(--bg);
    position: fixed;
    inset: 0;

    .container {
        padding: 60px 120px;
    }
}


.tippy-box {
    background: #fff;
    border: 2px solid #808080;
    border-radius: unset;
    font: inherit;
    color: #666666;

    .tippy-content {
        padding: 8px 10px;
        filter: grayscale(1);
    }
}


.icon {
    width: var(--icon-size, 32px);
    height: var(--icon-size, 32px);

    stroke-width: var(--icon-stroke, 1);
}