.tiles {
    display: flex;
    gap: 8px;
    overflow-x: auto;
    overflow-y: hidden;
    min-height: 100vh;

    padding: 0 3px;
    margin: 0 -3px;

    .tiles-group-title {
        font-size: 21px;
        line-height: 21px;
        font-weight: 300;

        filter: grayscale(1);
        opacity: 0.8;

        padding: 6px 0 8px 0;
        margin-bottom: 8px;

        &:hover {
            background: red;
            padding: 6px 8px 8px 8px;
        }
    }

    .tiles-group-wrap {
        &[data-gap="true"]:not(:first-child) {
            margin-left: 48px;
        }

        &[data-gap="false"] {
            .tiles-group-title {
                opacity: 0;
            }
        }

        animation: tile_group 0.7s;

        &[data-index="2"] {
            animation-duration: 0.75s;
        }
        &[data-index="3"] {
            animation-duration: 0.8s;
        }
        &[data-index="4"] {
            animation-duration: 0.85s;
        }
    }

    .tiles-group {
        display: grid;
        grid-template-columns: 56px 56px 56px 56px 56px 56px 56px 56px;
        grid-template-rows: 56px 56px 56px 56px 56px 56px 56px 56px;
        grid-auto-flow: dense;
        gap: 8px;
        height: fit-content;

        margin: unset;

        &[data-size="0"] {
            grid-template-columns: 56px 56px 56px 56px;
        }
        &[data-size="2"] {
            grid-template-columns: 56px 56px 56px 56px 56px 56px 56px 56px 56px 56px 56px 56px 56px 56px 56px 56px;
        }
    }

    .tile {
        display: inline-flex;
        position: relative;
        text-align: center;
        cursor: default;
        user-select: none;

        appearance: none;
        font: inherit;
        color: #fff;

        background-size: cover;
        border: 1px solid rgba(255, 255, 255, 0.1);

        --icon-size: 48px;
        --icon-stroke: 2.1;

        &[data-tile-width="0"] {
            width: 56px;
            grid-column-end: span 1;

            --icon-size: 24px;

            .tile-text {
                display: none;
            }
        }
        &[data-tile-width="1"] {
            width: 120px;
            grid-column-end: span 2;

            &[data-tile-height="0"] {
                .tile-text {
                    display: none;
                }
            }
        }
        &[data-tile-width="2"] {
            width: 248px;
            grid-column-end: span 4;

            &[data-tile-height="0"] {
                .tile-text {
                    display: none;
                }
            }
        }
        &[data-tile-width="3"] {
            width: 384px;
            grid-column-end: span 6;
        }
        &[data-tile-width="4"] {
            width: 512px;
            grid-column-end: span 8;
        }
        &[data-tile-height="0"] {
            height: 56px;
            grid-row-end: span 1;

            --icon-size: 24px;
            --icon-stroke: 2;
        }
        &[data-tile-height="1"] {
            height: 120px;
            grid-row-end: span 2;

            .tile-icon-wrap {
                padding-bottom: 20px;
            }
        }
        &[data-tile-height="2"] {
            height: 248px;
            grid-row-end: span 4;

            .tile-icon-wrap {
                padding-bottom: 20px;
            }
        }

        transition-property: background-color, transform;
        transition-duration: 0.3s;
        transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

        &:after {
            content: '';
            position: absolute;
            inset: -4px;
            border: 3px solid rgb(var(--ac));
            opacity: 0;
        }

        &:hover {
            transition-property: transform;

            &:after {
                transition: none;
                opacity: 0.48;
            }
        }

        &:active {
            transform: scale(0.96);
        }

        &.active {
            &:after {
                opacity: 1;
            }
        }

        .tile-bg-wrap {
            position: absolute;
            inset: 0;
            z-index: 8;

            .tile-bg {
                width: 100%;
                filter: brightness(70%);
            }
        }

        .tile-icon-wrap {
            position: absolute;
            inset: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            .tile-icon-image {
                width: var(--icon-size);
                height: var(--icon-size);
            }
        }

        .tile-text {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            padding: 6px 14px;
            text-align: left;

            filter: grayscale(1);

            z-index: 10;

            .alt-text {
                opacity: 0.8;

                .icon {
                    display: inline-flex;
                    width: 14px;
                    height: 14px;
                    --icon-size: 14px;
                    margin-top: -2px;
                    position: relative;
                    top: 3px;
                    margin-right: 4px;

                    &.space-left {
                        margin-left: 8px;
                    }
                }
            }
        }
    }
}

@keyframes tile_group {
    from {
        transform: translateX(40px) translateY(-10px) scale(0.9);
        opacity: 0;
    }
    to {
        transform: translateX(0) translateY(0) scale(1);
        opacity: 1;
    }
}

.titlebar-icon,
.tile {
    background: #5133AB;

    &[data-tile-id="mail"] {
        background: #0072C6;
    }
    &[data-tile-id="people"] {
        background: #D24726;
    }
    &[data-tile-id="documents"] {
        background: #595959;
    }
    &[data-tile-id="pictures"],
    &[data-tile-id="this_pc"] {
        background: #094AB2;
    }
    &[data-tile-id="iexplore"],
    &[data-tile-id="weather"] {
        background: #2672EC;
    }
    &[data-tile-id="store"],
    &[data-tile-id="money"] {
        background: #008A00;
    }
    &[data-tile-id="help"] {
        background: #D24726;
    }
    &[data-tile-id="photos"] {
        background: #008299;
    }
    &[data-tile-id="music"],
    &[data-tile-id="news"] {
        background: #AC193D;
    }
    &[data-tile-id="sponsor"] {
        background: #7B0000;
    }

    &[data-tile-id="lastfm"] {
        background: #E31B23;
    }
}