.nav {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & > h2:not(:first-child) {
        margin-top: 10px;
    }
}

.extra {
    font-size: 13px;
    color: var(--b3);
    text-shadow: none;

    flex: 1;

    display: flex;
    justify-content: center;
    align-items: end;
}
