.nav {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.side {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.extra {
    font-size: 12px;
    color: oklch(var(--c3));
    margin-top: 20px;
    text-shadow: none;

    flex: 1;

    display: flex;
    justify-content: center;
    align-items: end;
}
