.nav {
    display: flex;
    flex-direction: column;
    gap: 1px;

    & > h2:not(:first-child) {
        margin-top: 10px;
    }
}

.side {
  margin-top: 38px;
}

.extra {
    font-size: 13px;
    color: var(--b3);
    text-shadow: none;

    flex: 1;

    display: flex;
    justify-content: center;
    align-items: end;
}
