.record {
    display: inline-block;
    position: relative;

    text-align: center;

    .info {
        display: block;
        margin-top: 8px;

        .title {
            font-weight: bold;
            font-size: 13px;
            color: var(--txt);
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .artists {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .artist {
            font-size: 12px;
        }

        .descriptor,
        .year {
            font-size: 12px;
        }

        .format {
            position: absolute;
            top: 0;
            right: 20px;
            font-size: 11px;
            padding: 1px 3px;
            border-radius: 6px;
            text-transform: lowercase;
            border: 1px solid currentColor;
            background: var(--bg);
            text-shadow: none !important;
            font-weight: 600;

            &.format-cd, &.format-cdr {
                color: #C5A8FF;
            }

            &.format-vinyl {
                color: #CE8A6B;
            }
        }
    }

    .extras {
        margin-top: 5px;
        display: flex;
        justify-content: center;
        gap: 4px;
    }

    :global(.avatar) {
        width: 100px;
        height: 100px;
        margin: 0 auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &:hover {
        text-shadow: -1px -1px 0 var(--glow), 1px -1px 0 var(--glow), -1px 1px 0 var(--glow), 1px 1px 0 var(--glow);
    }
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    width: 100%;
    gap: 8px;
}
