.record {
    display: inline-block;
    position: relative;

    .info {
        display: block;
        margin-top: 8px;

        .title {
            display: block;

            position: relative;
            width: fit-content;

            &:before {
                content: '';
                position: absolute;
                inset: -1px -3px;
                background: oklch(var(--h4) / 20%);
                border-radius: 4px;

                transform-origin: bottom;
                transform: scaleY(0);

                transition-property: transform;
                transition-duration: 0.4s;
                transition-timing-function: var(--trans-function);

                pointer-events: none;
            }

            color: oklch(var(--l3-c));
            text-decoration-line: underline;
            text-decoration-thickness: 2;
            text-decoration-color: oklch(var(--l3-c) / 20%);
            text-underline-offset: 3px;

            transition-property: text-decoration-color, color;
            transition-duration: 0.4s;
            transition-timing-function: var(--trans-function);
        }

        .artists {
            color: oklch(var(--c2) / 80%);
            font-size: 13px;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-top: 3px;
        }
    }

    .extras {
        margin-top: 3px;
        display: flex;
        gap: 4px;
        color: oklch(var(--c3));
        font-size: 12px;
    }

    :global(.avatar) {
        width: 100%;
        height: unset;
        aspect-ratio: 1 / 1;
        border-radius: 4px;

        box-shadow: 0 4px 10px oklch(var(--b7));

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        transform: translateY(0) scale(1);

        transition-property: transform;
        transition-duration: 0.6s;
        transition-timing-function: var(--trans-function);
    }

    &:hover {
        .title {
            color: oklch(var(--l4-c));
            text-decoration-color: oklch(var(--l3-c) / 60%);
            transition: none;

            &:before {
                transform: scaleY(1);
            }
        }

        :global(.avatar) {
            transform: translateY(-1px) scale(1.02);
        }
    }
}

.format {
    font-size: 12px;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    width: 100%;
    gap: 20px 10px;
}
