.record {
    display: flex;
    gap: 20px;
    position: relative;

    .info {
        display: flex;
        flex-direction: column;
        gap: 6px;
        pointer-events: none;

        .title {
            font-weight: var(--font-weight-md);

            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            line-clamp: 2;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        .artists {
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            line-clamp: 2;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        .artist {
            font-size: 20px;
            color: hsl(var(--c2), 80%);
        }
        .descriptor,
        .year {
            font-size: 16px;
            font-weight: 600;
            color: hsl(var(--c3));
        }

        .format {
            font-size: 16px;
            font-weight: 600;
            color: hsl(var(--c3));
        }

        a {
            color: inherit;
            text-decoration: none;
            pointer-events: auto;
        }
    }

    .extras {
        display: flex;
        gap: 10px;
    }

    :global(.avatar) {
        flex-shrink: 0;

        img {
            object-fit: cover;
        }
    }
}

.list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}