.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    width: 100%;
}

.work {
    position: relative;
    display: flex;
    flex-direction: column;

    transition: font-weight 0.2s;

    &:hover {
        text-shadow: -1px -1px 0 var(--glow), 1px -1px 0 var(--glow), -1px 1px 0 var(--glow), 1px 1px 0 var(--glow);
        font-weight: 500;

        .image {
            transform: scale(1.02);
        }
    }

    .image {
        display: inline-block;
        aspect-ratio: 4 / 3;
        object-fit: cover;
        background: var(--bg);
        clip-path: var(--radius-2);
        image-rendering: auto;
        transition: transform var(--trans) var(--trans-function);
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 6px;
        text-align: center;

        .title {
            color: var(--hi);
            font-weight: bold;
            font-size: 16px;
        }

        .bio {
            font-size: 15px;
            margin-top: 0;
            width: 200px;
        }

        .years {
            font-size: 14px;
            margin-top: 3px;
            opacity: 0.7;
        }
    }
}
