.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    width: 100%;
}

.work {
    position: relative;
    display: flex;
    flex-direction: column;

    .image {
        display: inline-block;
        aspect-ratio: 4 / 3;
        object-fit: cover;
        background: oklch(var(--b6) / 50%);
        border-radius: 6px;
        image-rendering: auto;

        display: flex;
        justify-content: center;
        align-items: center;
        color: oklch(var(--c3) / 60%);
        font-size: 22px;
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 6px;
        text-align: center;

        .title {
            font-weight: var(--font-weight);
        }

        .bio {
            font-size: 13px;
            margin-top: 0;
            width: 150px;
            color: oklch(var(--c2) / 80%);
        }

        .years {
            font-size: 13px;
            margin-top: 3px;
            color: oklch(var(--c3));
        }
    }
}
