.perk {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 26px;
    text-align: left;

    :global(.perk-icon) {
        display: flex;
        position: absolute;
        top: 2px;
        left: 0;

        width: fit-content;
        color: #888;
    }

    & > p {
        margin: 0;
        font-size: 13px;
    }
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 4px;

    width: 100%;
    max-width: 900px;
    margin-top: 10px;
}

.list_big {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 20px;

    width: 100%;
    max-width: 900px;
    margin-top: 10px;
}

.perk_big {
    text-align: center;

    & > img {
        width: 100%;
        margin-bottom: 6px;
        image-rendering: auto;
        border-radius: 6px;
    }

    & > strong {
        & > i {
            margin-left: 6px;
            font-size: 12px;
            color: oklch(var(--c3));
            font-style: normal;
            font-weight: 400;
        }
    }

    & > p {
        font-size: 13px;
        margin: 0;
    }
}
