.btn-row {
    display: flex;
    align-items: center;
    gap: 6px;
}


.toggle,
.btn {
    --bg: hsl(var(--b4));
    --bg-hov: hsla(var(--b4), 80%);
    --bg-atv: hsla(var(--b4), 60%);
    --col: hsl(var(--c2));
    --shadow: var(--interact-shadow);
    --shadow-hov: var(--active-shadow);
    --indent: 0.98;
    padding: var(--padding, 7px 12px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: fit-content;
    background-color: var(--bg);
    color: var(--col);
    font-weight: var(--font-weight-medium);
    box-shadow: var(--shadow);
    border-radius: var(--radius, var(--item-big-radius));
    cursor: pointer;
    user-select: none;
    text-decoration: none !important;
    border: none;
    font-family: var(--font);
    font-size: var(--font-size);
    line-height: var(--line-height);

    transition-property: background-color, transform, box-shadow, color;
    transition-duration: var(--trans);
    transition-timing-function: var(--trans-function);


    &.brand {
        --padding: 10px 14px;
        --radius: 16px;
        --font-size: 16px;
        --line-height: 20px;
        gap: 8px;
    }
}
.btn.icon-btn {
    --padding: 7px;
    aspect-ratio: 1 / 1;
    height: 32px;
}

.toggle:hover,
.btn:hover {
    background-color: var(--bg-hov);
    transition: none;
}
.toggle:active,
.btn:active {
    background-color: var(--bg-atv);
}


.toggle[aria-checked="true"],
.btn.primary {
    --bg: hsl(var(--h3));
    --bg-hov: hsla(var(--h3), 80%);
    --bg-atv: hsla(var(--h3), 60%);
    --col: hsl(var(--ovr, var(--b7)));
    --shadow: inset hsl(var(--l2-c)) 0 -1px 0, var(--interactable-outer);
    --shadow-hov: inset hsl(var(--l2-c)) 0 -1px 0, var(--interactable-outer), var(--interactable-active-outer);
}

.btn.outline {
    --bg: transparent;
    --bg-hov: hsla(var(--b4), 30%);
    --bg-atv: hsla(var(--b4), 50%);
    --shadow: inset -0.2px 0 0 1px hsl(var(--c1));
}
.btn.outline:hover {
    --shadow: inset -0.2px 0 0 1px hsl(var(--c2));
}

.btn.mimic {
    --bg: hsla(var(--h4), 10%);
    --bg-hov: hsla(var(--h4), 30%);
    --bg-atv: hsla(var(--h4), 50%);
    box-shadow: none;
}