.btn-row {
    display: flex;
    align-items: center;
    gap: 6px;
}


.toggle,
.btn {
    --bg: hsl(var(--b4));
    --bg-hov: hsla(var(--b4), 80%);
    --bg-atv: hsla(var(--b4), 60%);
    --col: hsl(var(--c2));
    --indent: 0.985;
    padding: var(--padding, 7px 12px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: fit-content;
    background-color: var(--bg);
    color: var(--col);
    font-weight: var(--font-weight-medium);
    box-shadow: var(--shadow, var(--interact-shadow));
    border-radius: var(--item-med-radius);
    cursor: pointer;
    user-select: none;
    text-decoration: none !important;
    border: none;
    font-family: var(--font);
    font-size: var(--font-size);
    line-height: var(--line-height);

    transition-property: background-color, transform, box-shadow, color;
    transition-duration: var(--trans);
    transition-timing-function: var(--trans-function);
}
.btn.icon-btn {
    --padding: 7px;
    aspect-ratio: 1 / 1;
    height: 32px;
}

.toggle:hover,
.btn:hover {
    background-color: var(--bg-hov);
    transition: none;
}
.toggle:active,
.btn:active {
    background-color: var(--bg-atv);
}


.btn svg {
    position: relative;
}
.btn .text + svg {
    top: -1px !important;
}


.toggle[aria-checked="true"],
.btn.primary {
    --bg: hsl(var(--h3));
    --bg-hov: hsla(var(--h3), 80%);
    --bg-atv: hsla(var(--h3), 60%);
    --col: hsl(var(--ovr, var(--b7)));
}

.btn.outline {
    --bg: transparent;
    --bg-hov: hsla(var(--b4), 30%);
    --bg-atv: hsla(var(--b4), 50%);
    --shadow: inset -0.2px 0 0 1px hsl(var(--c1));
}
.btn.outline:hover {
    --shadow: inset -0.2px 0 0 1px hsl(var(--c2));
}

.btn.mimic, .btn.reset {
    --bg: hsla(var(--h4), 10%);
    --bg-hov: hsla(var(--h4), 30%);
    --bg-atv: hsla(var(--h4), 50%);
    box-shadow: none;
}