input, select, textarea {
    --top: 11px;
    --sides: 12px;
    padding: var(--top) var(--sides);
    background-color: hsla(var(--b4), 50%);
    border: 2px solid transparent;
    border-radius: 7px;
    color: hsl(var(--c2));
    caret-color: hsl(var(--l1));
    font-family: var(--font);
    font-size: 14px;

    transition-property: border-color;
    transition-duration: var(--trans);
    transition-timing-function: var(--trans-function);
}
:is(input, select, textarea):focus {
    border-color: hsl(var(--l1));
    outline: none;
}

input::placeholder, textarea::placeholder {
    color: hsla(var(--c3),75%);
    opacity: 1;
}


.checkbox {
    display: flex;
    align-items: center;
    gap: 6px;
}

.checkbox label {
    user-select: none;
}

input:is([type="radio"], [type="checkbox"]) {
    --indent: 0.97;
    padding: initial;
    border: initial;
    margin: initial;
}


form fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
}