.hero {
    width: 100vw;
    height: 100vh;
    padding: unset !important;
}

.hero .content:not(.panel-container > section) {
    width: 100vw;
    max-width: 70%;
}


.side-by-side {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.panel {
        padding: var(--card-padding) calc(var(--card-padding) * 2);
        box-shadow: unset;

        .cover {
            &.at-bottom {
                margin-bottom: calc(-1 * var(--card-padding));

                img {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }
        }
    }

    &.top {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.side-by-side > .cover {
    max-width: 600px;
}
.side-by-side > .text {
    max-width: 600px;
}

.cover {
    img {
        border-radius: var(--item-big-radius);
    }

    &.no-radius {
        img {
            border-radius: unset;
        }
    }
    &.no-shadow {
        img {
            box-shadow: unset;
        }
    }
}

.grid-margin {
    margin: unset;
}

.side-by-side.right > .text {
    order: -1;
}

.span {
    width: 100vw !important;
    padding: 0 calc((100vw - var(--cards-width)) / 2 + var(--card-padding));
}

.under-header {
    margin-top: -70px;
}

.cut {
    padding-top: 50px;
    padding-bottom: 50px;

    &.under-header {
        padding-top: calc(70px + 50px);
    }
}

.subtext {
    font-size: var(--font-size) !important;
    line-height: var(--line-height) !important;
    color: hsl(var(--c3));

    svg {
        margin-right: 6px;
        position: relative;
        top: 1px !important;
    }

    &.header-icon {
        margin-left: 6px;

        svg {
            margin: unset;
            top: unset !important;
        }
    }
}


.avatar-grid-sample {
    display: flex;
    align-items: center;
    gap: 10px;
}


/* sub */
h5.sub {
    background-color: hsla(var(--h3),15%);
    color: hsl(var(--l2-c));
    padding: 7px 12px;
    border-radius: var(--item-med-radius);
    width: fit-content;
    margin: unset;
}


.bg {
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    z-index: 0;
}
.big-bg, .med-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 105vh;
    display: block
}
.med-bg {
    height: 75vh;
}




.feature-list {
    display: flex;
    flex-direction: column;
    gap: var(--card-padding);
    margin-top: var(--card-gap);

    .feature-list-item {
        display: flex;
        gap: 10px;

        .feature-list-item-icon {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background-color: hsl(var(--h4), 30%);
            flex-shrink: 0;

            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                color: hsl(var(--l2-c));
            }
        }

        .feature-list-item-info {
            p {
                font-size: 16px;
                line-height: 20px;
                margin-top: 5px;
                cursor: default;
            }
        }
    }
}

.card-item-icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: hsl(var(--h4), 30%);
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        color: hsl(var(--l2-c));
    }
}


.grid-panels {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--card-gap);
}