.panel-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    overflow: hidden;
}

.panel-container > section {
    z-index: 2;
}

.panel {
    padding: 20px;
    background-color: hsl(var(--b5));
    border-radius: 10px;
    max-width: 1280px;
    width: 100%;
    transition-property: opacity, filter;
    transition-duration: var(--trans);
    transition-timing-function: var(--trans-function);
}
.panel.dimmed {
    opacity: 0.5;
    filter: brightness(60%);
    pointer-events: none;
}

.panel-container .content {
    max-width: 1280px;
}