:global(div)[aria-roledescription="carousel"] {
    width: 600px;

    :global(.slide) {
        border-radius: var(--round);
        box-shadow: 0 3px 15px rgb(0, 0, 0, 30%);
        overflow: hidden;
    }
}

.slide {
    width: fit-content;

    .image {
        width: 600px;
        aspect-ratio: 900 / 579;
        background-size: cover;
    }
}

:global(.indicators) {
    margin-top: 15px !important;

    display: flex;
    justify-content: center;
    gap: 10px;

    li {
        width: fit-content !important;
        height: fit-content !important;
        padding: unset !important;

        :global(.each-slideshow-indicator) {
            display: flex;
            aspect-ratio: 1 / 1;
            height: 10px !important;
            border-radius: 50%;
            background: hsl(var(--c3)) !important;
            opacity: unset !important;

            &:global(.active) {
                background: hsl(var(--c1)) !important;
            }

            &:before {
                display: none;
            }
        }
    }
}